/local-config.php
/content/upgrade/
/content/uploads/*
/content/blogs.dir/*
/content/cache/
/content/backups/
sitemap.xml.gz
sitemap.xml
*.log
.DS_Store
.idea
nbproject/*
.buildpath
.project
.settings*
