# Security
RedirectMatch 403 /content/debug.log
RedirectMatch 403 /\.git
RedirectMatch 403 /\wp\/readme.html
RedirectMatch 403 /\wp\/license.txt

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>
# END WordPress
